
  
.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
  
.Auth-form {
    width: 50%;
    max-width: 500px;
    padding: 0;
    height: 400px;
    border-radius: 8px;
    z-index: 0;
}
  
.Auth-form-content {
    background-color: rgba(43, 41, 69, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}
  
.Auth-form-title {
    text-align: center;
    font-size: 24px;
    color: #fd149d;
    font-weight: 800;
}

.input-group{
    width: 60%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



#username, #pass{
    width: 100%;
}

input {
    width: 100%;
}
  
label {
    font-size: 14px;
    font-weight: 600;
}

.back{
    height: 20rem;
    box-shadow: 0 0 20px 3px #fd149d;
    border-radius: 8px;
}

#password{
    display: flex;
}
