.btn-open{
  padding: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 100;
}
  #pack-opened {
    position: relative;
  }
  
  #pack-opened .pack-flash {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50px;
    pointer-events: none;
    transform: translateX(-50%);
    z-index: 5;
    perspective: 5000px;
    -webkit-perspective: 5000px;
  }
  
  #pack-opened .pack-flash .pack-flash-light,
  #pack-opened .pack-flash .pack-flash-particles,
  #pack-opened .pack-flash .pack-flash-pack {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #pack-opened .pack-flash .pack-flash-light,
  #pack-opened .pack-flash .pack-flash-particles {
    width: 100%;
  }
  
  #pack-opened.open .pack-flash .pack-flash-light {
    -webkit-animation: pack-flash-light 3s ease-out;
    animation: pack-flash-light 3s ease-out;
    opacity: 0;
  }
  
  #pack-opened.open .pack-flash .pack-flash-particles {
    -webkit-animation: pack-flash-particles 3s ease-out;
    animation: pack-flash-particles 3s ease-out;
    opacity: 0;
  }
  
  #pack-opened .pack-flash .pack-flash-pack {
    position: relative;
    opacity: 1;
    padding-top: 55%;
    margin: 10% 10%;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-size: 0 0;
  }
  
  #pack-opened.open .pack-flash .pack-flash-pack {
    opacity: 0;
    -webkit-animation: pack-flash-pack 3s ease-in-out;
    animation: pack-flash-pack 3s ease-in-out;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .front {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .bottom {
    position: absolute;
    top: 100%;
    left: -5%;
    width: 110%;
    height: 6.74157303%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
  }
  
  #pack-opened.open .pack-flash .pack-flash-pack .top {
    -webkit-animation: pack-flash-pack-top 0.9s ease-in 1.2s forwards;
    animation: pack-flash-pack-top 0.9s ease-in 1.2s forwards;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top img,
  #pack-opened .pack-flash .pack-flash-pack .top span {
    float: left;
    height: 100%;
    width: 25%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top img {
    height: 100%;
    width: 100%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top .cut {
    position: absolute;
    bottom: 0;
    top: 100%;
    opacity: 0;
    z-index: 9;
  }
  
  #pack-opened.open .pack-flash .pack-flash-pack .top .cut {
    -webkit-animation: pack-flash-pack-cut 0.9s ease-out;
    animation: pack-flash-pack-cut 0.9s ease-out;
    opacity: 0;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top .cut img {
    width: 100%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top span {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    display: inline-block;
  }
  
  #pack-opened.open .pack-flash .pack-flash-pack .top span {
    -webkit-animation: pack-flash-pack-rip 0.75s ease-in-out 0.9s forwards;
    animation: pack-flash-pack-rip 0.75s ease-in-out 0.9s forwards;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > img {
    width: 25%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > span {
    width: 75%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > span > img {
    width: 33.33%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > span > span {
    width: 66.66%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > span > span > img {
    width: 50%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > span > span > span {
    width: 50%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .top > span > span > span > img {
    width: 100%;
  }
  
  #pack-opened .pack-flash .pack-flash-pack .pack-count-corner {
    top: 0;
    right: 0px;
    z-index: 3;
  }
  
  #pack-opened .cards-reveal {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: 4;
    perspective: 5000px;
    -webkit-perspective: 5000px;
  }
  
  #pack-opened .cards-reveal ul {
    margin: 50px;
    position: relative;
    overflow: visible;
  }
  #pack-opened .cards-reveal ul li {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  #pack-opened .cards-reveal ul li img {
    width: 100%;
  }
  #pack-opened.open .cards-reveal ul li.card-01 {
    animation: card-spread-01 0.5s ease forwards;
    animation-delay: 2.5s;
    z-index: 4;
  }
  #pack-opened.open .cards-reveal ul li.card-02 {
    animation: card-spread-02 0.5s ease forwards;
    animation-delay: 2.5s;
    z-index: 3;
  }
  #pack-opened.open .cards-reveal ul li.card-03 {
    animation: card-spread-03 0.5s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
  }
  #pack-opened.open .cards-reveal ul li.card-04 {
    animation: card-spread-04 0.5s ease forwards;
    animation-delay: 2.5s;
    z-index: 1;
  }
  #pack-opened.open .cards-reveal ul li.gold {
    box-shadow: 0 0 100px #fede3c;
  }
  
  @keyframes pack-flash-pack {
    0% {
      -webkit-transform: scale(1) rotateY(0deg);
      -ms-transform: scale(1) rotateY(0deg);
      transform: scale(1) rotateY(0deg);
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    40% {
      -webkit-transform: scale(1) rotateY(0deg);
      -ms-transform: scale(1) rotateY(0deg);
      transform: scale(1) rotateY(0deg);
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
    75% {
      -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
      transform: translateY(300%);
      opacity: 1;
    }
    85% {
      -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
      transform: translateY(300%);
      opacity: 0;
    }
  }
  
  @keyframes pack-flash-pack-top {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(-180deg) translateX(200%);
      -ms-transform: rotate(-180deg) translateX(200%);
      transform: rotate(-180deg) translateX(200%);
      opacity: 0;
    }
  }
  
  @keyframes pack-flash-pack-cut {
    0% {
      left: 0;
      opacity: 0;
      transform: rotate(0);
    }
    30% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      left: 100%;
      opacity: 0;
      transform: rotate(90deg);
    }
  }
  
  @keyframes pack-flash-pack-rip {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
  }
  
  @keyframes pack-flash-light {
    0% {
      -webkit-transform: scale(0.8) translateZ(-300px);
      -ms-transform: scale(0.8) translateZ(-300px);
      transform: scale(0.8) translateZ(-300px);
    }
    10% {
      -webkit-transform: scale(1) translateZ(-300px);
      -ms-transform: scale(1) translateZ(-300px);
      transform: scale(1) translateZ(-300px);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
  }
  
  @keyframes card-spread-01 {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-157.5%);
    }
    100% {
      transform: translateX(-157.5%);
    }
  }
  @keyframes card-spread-02 {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-157.5%);
    }
    100% {
      transform: translateX(-52.5%);
    }
  }
  @keyframes card-spread-03 {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-157.5%);
    }
    100% {
      transform: translateX(52.5%);
    }
  }
  @keyframes card-spread-04 {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-157.5%);
    }
    100% {
      transform: translateX(157.5%);
    }
  }
  
  .carta {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .frente,
  .tras {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .tras {
    width: 278px;
    height: 409px;
    border-radius: 18px;
  }
  
  .tras:hover {
    
    left: 2px;
    box-shadow: 0px 0px 10px 5px #FD149D;
    border-radius: 18px;
  }
  .tras img {
    width: 278px;
    height: 409px;
    border-radius: 18px;
  }
  
  .frente {
    border-radius: 18px;
    transform: rotateY(180deg);
  }
  
  .frente img {
    width: 278px;
    height: 409px;
    border-radius: 18px;
  }
  
  .container {
    margin: 20px;
    width: 278px;
    height: 409px;
    perspective: 1000px;
  }
  
  :root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --back: url("../..//..//src/Asset/card_and_pack/back.png");

    --aangfront: url("../..//..//src/Asset/card_and_pack/card-aang.jpg");
    --mariofront: url("../..//..//src/Asset/card_and_pack/card-mario.jpg");
    --mickeyfront: url("../..//..//src/Asset/card_and_pack/card-mickey.jpg");
    --optimusfront: url("../..//..//src/Asset/card_and_pack/card-optimus.jpg");
    --vadorfront: url("../..//..//src/Asset/card_and_pack/card-vador.jpg");
    --zidanefront: url("../..//..//src/Asset/card_and_pack/card-zidane.jpg");
    --shibsfront: url("../..//..//src/Asset/card_and_pack/card-shibs.png");
    --kyubsninosfront: url("../..//..//src/Asset/card_and_pack/card-kyubsninos.png");
    --pikachufront: url("../..//..//src/Asset/card_and_pack/card-pikachu.jpg");
    --totorofront: url("../..//..//src/Asset/card_and_pack/card-totoro.jpg");
    --gokufront: url("../..//..//src/Asset/card_and_pack/card-goku.jpg");
    --yodafront: url("../..//..//src/Asset/card_and_pack/card-yoda.jpg");
    --foxfront: url("../..//..//src/Asset/card_and_pack/card-Fox.png");
    --larafront: url("../..//..//src/Asset/card_and_pack/card-Lara.png");
    --kratosfront: url("../..//..//src/Asset/card_and_pack/card-Kratos.png");
    --mangafront: url("../..//..//src/Asset/card_and_pack/card-Manga.png");
    --sonicfront: url("../..//..//src/Asset/card_and_pack/card-Sonic.png");
    --tloufront: url("../..//..//src/Asset/card_and_pack/card-TLOU_2.png");

    --catfront: url("../..//..//src/Asset/card_and_pack/card-cat.jpeg");
    --coldfirefront: url("../..//..//src/Asset/card_and_pack/card-coldfire.jpeg");
    --robotcodesfront: url("../..//..//src/Asset/card_and_pack/card-robotcodes.jpeg");
    --robotgangsterfront: url("../..//..//src/Asset/card_and_pack/card-robotgangster.png");
    --robotgunfront: url("../..//..//src/Asset/card_and_pack/card-robotgun.jpeg");
    --superrobotfront: url("../..//..//src/Asset/card_and_pack/card-superrobot.jpeg");
  }
  
  .card {
    width: 71.5vw;
    height: 100vw;
    width: clamp(200px, 61vh, 18vw);
     height: clamp(280px, 85vh, 25.2vw);
    @media screen and (min-width: 600px) {
    width: 61vh;
    height: 85vh;
    max-width: 500px;
     max-height: 700px;
      width: clamp(12.9vw, 61vh, 18vw);
      height: clamp(18vw, 85vh, 25.2vw);
    }
  
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
  
    border-radius: 5% / 3.5%;
    box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
      -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
      0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
  
    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
  }
  
  .card:hover {
    box-shadow: -20px -20px 30px -25px var(--color1),
      20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
      7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  


.aang {
    --front: var(--aangfront);
  }
.mario {
    --front: var(--mariofront);
  }
.mickey {
    --front: var(--mickeyfront);
  }
.optimus {
    --front: var(--optimusfront);
  }
.vador {
    --front: var(--vadorfront);
  }
.zidane {
    --front: var(--zidanefront);
  }
.shibs {
    --front: var(--shibsfront);
}
.kyubsninos {
    --front: var(--kyubsninosfront);
}
.goku {
    --front: var(--gokufront);
}
.pikachu {
    --front: var(--pikachufront);
}
.totoro {
    --front: var(--totorofront);
}
.yoda {
    --front: var(--yodafront);
}

.fox {
    --front: var(--foxfront);
}
.kratos {
    --front: var(--kratosfront);
}
.lara {
    --front: var(--larafront);
}
.manga {
    --front: var(--mangafront);
}
.sonic {
    --front: var(--sonicfront);
}
.tlou {
    --front: var(--tloufront);
}

.cat {
    --front: var(--catfront);
}
.coldfire {
    --front: var(--coldfirefront);
}
.robotcodes {
    --front: var(--robotcodesfront);
}
.robotgangster {
    --front: var(--robotgangsterfront);
}
.robotgun {
    --front: var(--robotgunfront);
    width: 500px;
}
.superrobot {
    --front: var(--superrobotfront);
}

  .card.eevee {
    --color1: #ec9bb6;
    --color2: #ccac6f;
    --color3: #69e4a5;
    --color4: #8ec5d6;
    --color5: #b98cce;
    --front: var(--eeveefront);
  }
  
  .card:before,
  .card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
  }
  
  .animated:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      var(--color1) 25%,
      transparent 47%,
      transparent 53%,
      var(--color2) 75%,
      transparent 100%
    );
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
  }
  
  .animated:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
      url(https://assets.codepen.io/13471/holo.png),
      linear-gradient(
        125deg,
        #ff008450 15%,
        #fca40040 30%,
        #ffff0030 40%,
        #00ff8a20 60%,
        #00cfff40 70%,
        #cc4cfa50 85%
      );
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.75;
  }
  
  .card.active:after,
  .card:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
  }
  
  .card.active,
  .card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
  }
  
  .card.active:before,
  .card:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: 0.88;
    filter: brightness(0.4) contrast(1);
    transition: none;
  }

  .animated:hover:before {
      animation: none;
      background-image: linear-gradient(110deg,
              transparent 25%,
              var(--color1) 48%,
              var(--color2) 52%,
              transparent 75%);
      background-position: 50% 50%;
      background-size: 250% 250%;
      opacity: 0.88;
      filter: brightness(0.66) contrast(1.33);
      transition: none;
  }
  
  .card.active:before,
  .card:hover:before,
  .card.active:after,
  .card:hover:after {
    animation: none;
    transition: none;
  }
  
  .card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
  }
  
  .card.animated:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  
  .card.animated:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
  
  
  @keyframes holoSparkle {
    0%,
    100% {
      opacity: 0.75;
      background-position: 50% 50%;
      filter: brightness(1.2) contrast(1.25);
    }
    5%,
    8% {
      opacity: 1;
      background-position: 40% 40%;
      filter: brightness(0.8) contrast(1.2);
    }
    13%,
    16% {
      opacity: 0.5;
      background-position: 50% 50%;
      filter: brightness(1.2) contrast(0.8);
    }
    35%,
    38% {
      opacity: 1;
      background-position: 60% 60%;
      filter: brightness(1) contrast(1);
    }
    55% {
      opacity: 0.33;
      background-position: 45% 45%;
      filter: brightness(1.2) contrast(1.25);
    }
  }
  
  @keyframes holoGradient {
    0%,
    100% {
      opacity: 0.5;
      background-position: 50% 50%;
      filter: brightness(0.5) contrast(1);
    }
    5%,
    9% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(0.75) contrast(1.25);
    }
    13%,
    17% {
      background-position: 0% 0%;
      opacity: 0.88;
    }
    35%,
    39% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(0.5) contrast(1);
    }
    55% {
      background-position: 0% 0%;
      opacity: 1;
      filter: brightness(0.75) contrast(1.25);
    }
  }
  
  @keyframes holoCard {
    0%,
    100% {
      transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%,
    8% {
      transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%,
    16% {
      transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%,
    38% {
      transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
      transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
  }
  
  .card.eevee:hover {
    box-shadow: 0 0 30px -5px white, 0 0 10px -2px white,
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  .card.eevee:hover:before,
  .card.eevee.active:before {
    background-image: linear-gradient(
      115deg,
      transparent 20%,
      var(--color1) 36%,
      var(--color2) 43%,
      var(--color3) 50%,
      var(--color4) 57%,
      var(--color5) 64%,
      transparent 80%
    );
  }
  
  .demo .card {
    background-image: var(--back);
    font-size: 2vh;
  }
  .demo .card > span {
    position: relative;
    top: 45%;
  }
  
  .demo .card:nth-of-type(1),
  .demo .card:nth-of-type(2),
  .demo .card:nth-of-type(3) {
    width: 20vh;
    height: 27.5vh;
    box-shadow: inset 0 0 0 1px rgba(white, 0.4),
      0 25px 15px -10px rgba(0, 0, 0, 0.5);
    animation: none;
  }
  
  .demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(3):after {
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}

.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}

.demo .card:nth-of-type(3):after {
  display: none;
}

  
  .operator {
    display: inline-block;
    vertical-align: middle;
    font-size: 6vh;
  }
  

  h1 {
    display: block;
    margin: 30px 0;
  }
  p {
    margin-top: 5px;
    font-weight: 200;
  }
  #app {
    position: relative;
  }
  
  .demo,
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
  }
  .demo {
    flex-direction: row;
    justify-content: center;
  }
  
  @media screen and (min-width: 600px) {
    .cards {
      flex-direction: row;
    }
  }
  
  .cards .card:nth-child(2),
.cards .card:nth-child(2):before,
.cards .card:nth-child(2):after {
  animation-delay: 0.25s;
}

.cards .card:nth-child(3),
.cards .card:nth-child(3):before,
.cards .card:nth-child(3):after {
  animation-delay: 0.5s;
}

.cards .card:nth-child(4),
.cards .card:nth-child(4):before,
.cards .card:nth-child(4):after {
  animation-delay: 0.75s;
}

  
  